[Desktop Entry]
Version=1.0
Icon=io.github.TeamWheelWizard.WheelWizard
Exec=WheelWizard
Terminal=false
Type=Application
Categories=Game;
StartupWMClass=WheelWizard
Name=Wheel Wizard
GenericName=Mario Kart Wii Mod Manager
Comment=Mario Kart Wii Mod Manager & Retro Rewind Auto Updater
